# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [29]:
import pandas as pd
data1 = pd.read_csv("Data/Zipcode_Demos.csv", skiprows = 1, nrows = 45, usecols = [0,1,2])
data2 = pd.read_csv("Data/Zipcode_Demos.csv", skiprows = 47)

In [30]:
# Your code here - Perform exploratory data analysis
data1.drop("1", inplace = True, axis = 1)
data2.drop("47", inplace = True, axis = 1)
data1

                             Unnamed: 1          0
0                     JURISDICTION NAME  10005.800
1                    COUNT PARTICIPANTS      9.400
2                          COUNT FEMALE      4.800
3                        PERCENT FEMALE      0.404
4                            COUNT MALE      4.600
5                          PERCENT MALE      0.396
6                  COUNT GENDER UNKNOWN      0.000
7                PERCENT GENDER UNKNOWN      0.000
8                    COUNT GENDER TOTAL      9.400
9                  PERCENT GENDER TOTAL     80.000
10               COUNT PACIFIC ISLANDER      0.000
11             PERCENT PACIFIC ISLANDER      0.000
12                COUNT HISPANIC LATINO      2.000
13              PERCENT HISPANIC LATINO      0.105
14                COUNT AMERICAN INDIAN      0.000
15              PERCENT AMERICAN INDIAN      0.000
16             COUNT ASIAN NON HISPANIC      3.600
17           PERCENT ASIAN NON HISPANIC      0.437
18             COUNT WHITE NON HISPANIC      0.800
19           PERCENT WHITE NON HISPANIC      0.036
20             COUNT BLACK NON HISPANIC      2.600
21           PERCENT BLACK NON HISPANIC      0.181
22                COUNT OTHER ETHNICITY      0.400
23              PERCENT OTHER ETHNICITY      0.040
24              COUNT ETHNICITY UNKNOWN      0.000
25            PERCENT ETHNICITY UNKNOWN      0.000
26                COUNT ETHNICITY TOTAL      9.400
27              PERCENT ETHNICITY TOTAL     79.900
28       COUNT PERMANENT RESIDENT ALIEN      0.500
29     PERCENT PERMANENT RESIDENT ALIEN      0.061
30                     COUNT US CITIZEN      8.900
31                   PERCENT US CITIZEN      0.739
32           COUNT OTHER CITIZEN STATUS      0.000
33         PERCENT OTHER CITIZEN STATUS      0.000
34         COUNT CITIZEN STATUS UNKNOWN      0.000
35       PERCENT CITIZEN STATUS UNKNOWN      0.000
36           COUNT CITIZEN STATUS TOTAL      9.400
37         PERCENT CITIZEN STATUS TOTAL     80.000
38     COUNT RECEIVES PUBLIC ASSISTANCE      2.300
39   PERCENT RECEIVES PUBLIC ASSISTANCE      0.151
40    COUNT NRECEIVES PUBLIC ASSISTANCE      7.100
41  PERCENT NRECEIVES PUBLIC ASSISTANCE      0.649
42      COUNT PUBLIC ASSISTANCE UNKNOWN      0.000
43    PERCENT PUBLIC ASSISTANCE UNKNOWN      0.000
44        COUNT PUBLIC ASSISTANCE TOTAL      9.400

In [ ]:
# What is going on with this data set? Anything unusual?

In [ ]:
# Your code here - Clean up the data set

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [42]:
#Hint: here's a useful programming pattern to use.
#Your code here
try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

## Summary

Congratulations, you now practiced your pandas-importing skills!

In [34]:
import os
os.getcwd()

'/home/asynchronous-sandbox-7764/dsc-enterprise-hsbc-importing-data-with-pandas-lab-hsbc-ds-081319'

In [35]:
ls

CONTRIBUTING.md  Data/  index.ipynb  LICENSE.md  README.md

In [36]:
cd Data

/home/asynchronous-sandbox-7764/dsc-enterprise-hsbc-importing-data-with-pandas-lab-hsbc-ds-081319/Data

In [37]:
ls

ACS_16_5YR_B24011_metadata.csv  Yelp_Reviews_Corrupt.csv
ACS_16_5YR_B24011_with_ann.csv  Yelp_Selected_Businesses.xlsx
ACS2012_2016_PUMS_README.pdf    Zipcode_Demos.csv
bp.txt                          Zipcode_Demos.xlsx

In [41]:
cd ..

/home/asynchronous-sandbox-7764/dsc-enterprise-hsbc-importing-data-with-pandas-lab-hsbc-ds-081319